body { background-color: mistyrose ;}

h1 {
    color: darkorchid;
}

section,li,h1 {
  color: rgb(0, 132, 255);
}




section {
  width: 70%;
  /* arriba, derecha, abajo e izquierda, */
  margin: 200px 5000px 40px 10px;
  border-style:dotted;
  border-radius: 50px;
  border-width: 5px;
  padding: 50px 5px 100px 50px ;
  background-color: aquamarine;
}




article {background-color: rgb(208, 102, 218);
  width: 600px;
  /* margin: 0 auto; */
}

/* Por que la figura no esta centrada? 
Pista: Que tipo de etiqueta es? bloque o linea? */

#awesome {
  margin-left: auto;
  margin-right: auto;

}