.container {
    margin: 40px auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template:
    "header header header"
    "art1 art2 aside"
    "art3 art4 aside"
    "art5 art6 aside"
    "footer footer footer ";
  }

header {
    grid-area: header;
    background-color: rgb(63, 61, 61);

}


footer {
    grid-area: footer;
    background-color: rgb(63, 61, 61);

}


aside {
  background-color: rgb(228, 148, 148);
  grid-area: aside;
}

article {
  background-color: aquamarine;
}

.art1 {
  grid-area: art1;
}

.art2 {
  grid-area: art2;
}

.art3 {
  grid-area: art3;
}
.art4 {
  grid-area: art4;
}
.art5 {
  grid-area: art5;
}
.art6 {
  grid-area: art6;
}
